/* login.component.scss */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
    .login-card {
      width: 400px;
      text-align: center;
  
      mat-card-title {
        font-size: 24px;
        font-weight: bold;
      }
  
      mat-card-content {
        form {
          display: flex;
          flex-direction: column;
  
          .full-width {
            width: 100%;
          }
  
          button {
            margin-top: 20px;
          }
        }
      }
    }
  }
  