<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar> Menu </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#/dash">+ Tableau de Bord</a>
      <a mat-list-item href="#/pros">+ Prospect</a>
      <a mat-list-item href="#/cons">+ Consultants</a>
      <a mat-list-item href="#/mission">+ Missions</a>
      <a mat-list-item href="#/client">+ Clients</a>
      <a mat-list-item href="#">- Fournisseurs</a>
      <a mat-list-item href="#">- Salariées</a>
      <a mat-list-item href="#">- Stagiaires</a>
      <a mat-list-item href="#/appo">+ Appel d'offres</a>
      <a mat-list-item href="#/ged">+ GED</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main">
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>ITEAM-GRH</span>
        <span class="spacer"></span>

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="LoginOut()">Déconnexion</button>
          <!--   more items   -->
        </mat-menu>
      </mat-toolbar>

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
