.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
<<<<<<< HEAD


=======
>>>>>>> f1c199fb000fc4c4eecf682d9923dd886b4283f1
