<!--<div class="mat-bg-primary m-12 px-24 py-24 rounded">
    <h5 class="text-white text-16 mb-16 font-weight-bold">Consultant</h5>
    <div height="180" echarts class="chart m-0"  ></div>
  </div>
  <div class="mt--72">
    <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.sm="20" fxFlex.gt-sm="20">
        <div fxLayout="row wrap">
          <div  fxFlex="50" fxFlex.sm="50" fxFlex.gt-sm="50">
            <mat-card class="p-24" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon class="text-48 text- ">here</mat-icon>
                <div class="ml-12">
                  <p class="m-0 text-muted mb-4">here</p> 
                </div>
              </div>
                <mat-icon class="mat-18">arrow_right_alt</mat-icon>
            </mat-card>
          </div>
        </div>-->
<div class="card--wrapper">
  <div class="card">
    <div class="data">
      <span class="title"  > CARD1 </span>
      <span class="data-v">10000 </span>
    </div>
    <i class="fas fa-dollar-sign icon"></i>
  </div>
 
</div>
