<div class="container">
  <mat-grid-list cols="{{ (cardLayout | async)?.columns }}" rowHeight="200px">
    <mat-grid-tile
      [colspan]="(cardLayout | async)?.table?.cols"
      [rowspan]="(cardLayout | async)?.table?.rows || 9"
    >
      <app-card title=" ">
        <div
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
          "
        >
          <h1 class="mat-h1">Listes des prospects</h1>
        </div>

        <button mat-icon-button color="primary" class="button"
        style="float: right"  (click)="openDialog()">
          <mat-icon>library_add</mat-icon>
        </button>
        <app-prospect-data></app-prospect-data>&nbsp;
      </app-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
