<div  class="chartContainer">
    <canvas id="myChart" ></canvas>
    <!-- <div class="text-center d-flex flex-column" style="height: 150px"> -->
      <!-- <apx-chart
      [series]="EmailChartOptions.series"
      [chart]="EmailChartOptions.chart"
      [dataLabels]="EmailChartOptions.dataLabels"
      [legend]="EmailChartOptions.legends"
      [colors]="EmailChartOptions.colors"
      [stroke]="EmailChartOptions.stroke"
      [labels]="EmailChartOptions.labels"
      [tooltip]="EmailChartOptions.tooltip"
      [plotOptions]="EmailChartOptions.plotOptions"
    ></apx-chart> -->
    <!-- </div> -->
  </div>
  