<div class="filter-bar">
  <!-- Filter Input -->
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput [formControl]="filter" placeholder="Recherche" />
  </mat-form-field>
</div>
<div class="mat-elevation-z8 small-table">
  <table
    mat-table
    class="full-width-table"
    [dataSource]="dataSource"
    matSortActive="id"
    matSortDirection="asc"
    matSort
    aria-label="Elements"
  >
    <!-- Id Column -->
    <ng-container matColumnDef="idtiers">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row"> {{ row.idtiers }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
      <td mat-cell *matCellDef="let row">{{ row.nom }}</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="adresse">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row">
        <mat-chip-listbox>
          <mat-chip-option
            color="{{
              row.status == 'Prospect'
                ? 'primary'
                : row.status == 'Consultant'
                ? 'accent'
                : 'warn'
            }}"
            selected
          >
            {{ row.status }}
          </mat-chip-option>
        </mat-chip-listbox>
      </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="cin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Secteur</th>
      <td mat-cell *matCellDef="let row">{{ row.secteuractivite }}</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="profession">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cv</th>
      <td mat-cell *matCellDef="let row">
        {{ row.majcv | date : "dd/MM/yyyy" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
      <td mat-cell *matCellDef="let row">
        <button
          mat-icon-button
          color="primary"
          [routerLink]="['/prospect', row.idtiers]"
        >
          <mat-icon>portrait</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="setDelete(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="cs">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Status Consultant
      </th>
      <td mat-cell *matCellDef="let row">
        <button
          mat-icon-button
          class="green-button"
          (click)="convertToConsultant(row.idtiers)"
        >
          <mat-icon>launch</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator #paginator [length]="8" [pageIndex]="0" [pageSize]="8">
  </mat-paginator>
</div>
