<div mat-dialog-title>
  <h1>Nouvelle mission</h1>
</div>

<style>
  .content {
    width: 100%;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .mat-form-field {
    width: 100%;
  }
</style>
<div class="main">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Reférence mission </mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="mission_ref"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Reférence mission"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Designation</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="designation"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Designation"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Lieu d'imputation</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="lieuimput"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Lieu d'imputation"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Entité</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="entite"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Entité"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nombre de jours</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="nombrej"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Nombre de jours"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Identifiant du client</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="clientid"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Identifiant du client"
        />
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="save()">
    Sauveguarder
  </button>
  <button mat-raised-button color="warn">Annuler</button>
</div>
